.jj
.vs
.vscode
.idea
.DS_Store
out/
build/
build-*/
cmake-build-*/
ninja/
ninja-*/
CMakeFiles/
CMakeCache.txt
CMakeScripts/
CMakeTmp/
Testing/
gtest/

*.o
*.a
*.la
*.exe
*.app
*.log
CMakeLists.txt.user
compile_commands.json
*.proj.user
*.sln.user
*.suo
*.pdb
*.idb
*.pch
*.ilk
